* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  overflow-x: hidden;
}
:root {
  --desktop-width: 1000px;
  --mobile-width: 500px;
}
.container {
  max-width: 100%;

  /* margin: 0 auto; */
  padding: 16px 160px;
}

.header-top {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  gap: 32px;
}
.header-top img {
  padding-left: 16px;
}
/* header logo */
.logo {
  display: flex;
  width: 96px;
  height: 32px;
  padding: 0px 0.047px 3.72px 0px;
  justify-content: center;
  align-items: center;
}
/* this is header search field */
.search-field {
  position: relative;
  border-radius: 8px;
  background: #f5f5f5;
  display: flex;

  align-items: center;
  gap: 8px;
  width: 423px;
}

.search-field input[type="text"] {
  padding: 16px;
  padding-left: 28px;

  background: #f5f5f5;
  border-radius: 8px;
  border: none;
  width: 100%;
  height: 100%;
}

.search-field input[type="text"]::placeholder {
  color: #656565;
  font-family: SF Pro Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  opacity: 0.5;
}

.search-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 2px;
}
/* navigation css */
.navigation {
  display: flex;

  align-items: flex-start;
  gap: 52px;
}

.nav-list-items {
  display: flex;
  gap: 52px;
}
.navigation li {
  list-style: none;
}
.navigation a {
  text-decoration: none;
}
.navigation li a {
  color: var(--Main-Black, #000);
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.3;
}
.navigation li.active a {
  opacity: 1;
}
/* navigation icon */
.navigation-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  color: #000;
}
.nav-icon {
  height: 32px;
  width: 32px;
}
/* .responsive-heade */
.sidebarmenu {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  width: 0;
  transition: width 0.4s ease-in-out;
  flex-direction: column;
  background: #000;

  /* padding: 24px 16px; */
}
/*.sidebarmenu a:hover {
  color: white;
  background: #391f1f;
 } */
.aliahmad:hover {
  color: white;
  background: #391f1f;
}
.responsive-header {
  display: none;
}
.responsive-header img {
  cursor: pointer;
  padding-right: 98px;
}

.sidebar-header {
  width: 100%;
  height: 35vh;
  padding: 15px;
  position: fixed;
  top: 15px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-400px);
  /* right: 0; */
}
.sidebar-header-content img {
  height: 60px;
  width: 100px;
}
.active-sidebar {
  transform: translateY(0);
  transition: transform 0.4s ease-in-out;
}
.sidebar-links {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.crossBtn {
  position: absolute;
  top: 30px;
  right: 30px;
}
.crossBtn img {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.sidebarmenu a {
  text-decoration: none;
  display: flex;
  /* flex-direction: column; */
  padding: 12px;
  align-items: center;
}
.sidebarmenu-button {
  border-radius: 8px;
  background: var(--Main-Black, #000);
  padding: 9px 16px;
  color: var(--Main-White, #fff);

  text-align: center;
  font-family: SF Pro Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
}

.sidebarmenu a.active {
  opacity: 1;
  color: var(--Main-Black, #000);
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.sidebarmenu a {
  opacity: 0.3;
  color: var(--Main-Black, #9d9393);
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 15px;
}
/*.sidebarmenu a:hover {
  background-color: aquamarine;
 } */
.sidebarmenu .closebtn {
  font-size: 52px;
  color: #fff;
  padding: 0px 8px;
}
.sidebarmenu .closebtn :hover {
  color: none;
}

.logo-sidenav {
  display: flex;
  justify-content: space-between;
  padding: 0px 8px;
}
i {
  padding-right: 15px;
}
/* subnav css */
.subnav {
  background: var(--Secondary-Charcoal, #2e2e2e);

  display: flex;
  padding: 8px 160px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.subnav div {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 16px;

  color: var(--Main-White, #fff);
  text-align: center;
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 200% */
  opacity: 0.5;
}
.subnav .ali {
  background-color: red;
}
/* mobile banner css */
.mobile-banner {
  background: linear-gradient(91deg, #211c24 0.64%, #211c24 101%);

  display: flex;
  width: 100%;

  padding: 0px 160px;

  justify-content: space-between;
  align-items: center;
  align-content: center;
  row-gap: 24px;
}
.mabile-banner-text {
  display: flex;
  width: 50%;
  /* overflow: hidden; */

  flex-direction: column;
  align-items: flex-start;
  row-gap: 72px;
  padding-left: 16px;
}
.mabile-banner-text h1 {
  color: #fff;
  font-family: SF Pro Display;
  font-size: 96px;
  font-style: normal;
  font-weight: 200;
  line-height: 72px; /* 75% */
  letter-spacing: -0.96px;
}
.mobile-banner-span {
  color: #fff;
  font-family: SF Pro Display;
  font-size: 96px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -0.96px;
}
.mabile-banner-text h3 {
  color: #fff;
  font-family: Figtree;
}
.mabile-banner-text p {
  color: #909090;
  font-family: SF Pro Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 55px; /* 133.333% */
}

.mobile-banner-btn {
  display: flex;
  padding: 16px 56px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  background: linear-gradient(91deg, #211c24 0.64%, #211c24 101%);
  cursor: pointer;
}
/* .mobile-banner-btn:active { 
      background-color: blue;
    }*/
.mobile-banner-btn:hover {
  background-color: red;
}
.mobile-banner-btn span {
  color: var(--Main-White, #fff);
  text-align: center;
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 2px; /* 150% */
}
.mobile-banner-img {
  display: flex;
  width: 50%;
  padding-top: 73px;
  padding-right: 54px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
}
.category .imgs {
  padding-right: 160px;
}

.responsive-header button {
  border: none;
  background-color: transparent;
}

.mobile-playstation {
  width: 100%;

  background-color: white;
  display: flex;
}
.wide-squre {
  width: 50%;
}
.wide-squre1 {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px 48px 0px 0px;
  justify-content: flex-end;
  position: relative;
}

.playstatiion5-text {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-direction: column;
}
.playstatiion5-text h1 {
  color: #000;
  font-family: SF Pro Display;
  font-size: 49px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 81.633% */
}
.playstatiion5-text p {
  color: #909090;
  font-family: SF Pro Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
}
.wide-squre-bottom {
  display: flex;
  align-items: center;
  width: 100%;
}
.wide-squre-bottom-left {
  display: flex;
  background: #ededed;
  width: 50%;
  gap: 16px;

  padding: 0px 48px 0px 0px;
  justify-content: flex-end;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}

.wide-squre-bottom-left-text h1 {
  color: #000;
  font-family: SF Pro Display;
  font-size: 29px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px; /* 137.931% */
}
.wide-squre-bottom-left-text p {
  color: #909090;
  font-family: SF Pro Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
}
.wide-squre-bottom-right {
  display: flex;

  background: #353535;
  width: 50%;
  gap: 16px;

  padding: 0px 48px 0px 0px;
  justify-content: flex-end;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}
.wide-squre-bottom-right-text h1 {
  color: var(--Main-White, #fff);
  font-family: SF Pro Display;
  font-size: 29px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px; /* 137.931% */
}
.wide-squre-bottom-right-text p {
  color: #909090;
  font-family: SF Pro Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
}
.big-banner {
  width: 50%;
  display: flex;
  background: #ededed;
  padding: 44px 0px 44px 56px;
}
.big-banner-text {
  display: flex;
  gap: 16px;
  align-items: flex-start;

  justify-content: center;
  flex-direction: column;
}
.big-banner-img {
  padding-top: 44px;
}
.big-banner-text h1 {
  color: #000;
  font-family: SF Pro Display;
  font-size: 64px;
  font-style: normal;
  font-weight: 200;
  line-height: 56px; /* 87.5% */
}
.big-banner-text p {
  color: #909090;
  font-family: SF Pro Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
}
.big-banner-text button {
  display: flex;
  padding: 16px 56px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  border: 1px solid var(--Main-Black, #000);
}
.big-banner-text > span {
  color: var(--Main-Black, #000);
  text-align: center;
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

/* sidebar menu styles */

.sidebarmenu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5;

  /* padding-top: 60px; */
}
/* category */
.category {
  display: flex;
  width: 100%;
  padding: 80px 160px;

  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  background-color: #fafafa;
}
.category-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.category h1 {
  color: var(--Main-Black, #000);
  font-family: SF Pro Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.24px;
  /* padding-left: 12px; */
}
.category-card {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 16px 32px;
  justify-content: center;
  flex-wrap: wrap;
  /* padding-left: 62px; */
}
.category-card > div {
  /* display: flex; 
  width: 108px;
  height: 128px;

  padding: 24px 52px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 15px;
  ;*/
  display: flex;
  width: 160px;
  height: 128px;
  min-width: 135px;
  padding: 24px 52px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 15px;
  background: #ededed;
}
.category-card h1 {
  color: var(--Main-Black, #000);
  text-align: center;
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
/* desktop-products */
.desktop-prodcuts {
  display: flex;
  width: 100%;
  padding: 56px 160px;

  flex-direction: column;
  gap: 32px;
  background: #fff;
}
.desktop-products-tags {
  display: flex;
  align-items: center;
  gap: 32px;
  align-self: stretch;
  /* padding-left: 62px; */
}
.desktop-products-tags a {
  text-decoration: none;
}
.desktop-products-tags div {
  display: grid;
}
.desktop-products-tags div a {
  color: var(--Main-Black, #000);
  text-align: center;
  font-family: SF Pro Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 177.778% */
}
.desktop-products-tags .active {
  color: #8b8b8b;
  text-align: center;
  font-family: SF Pro Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 177.778% */
}
.desktop-pair-products {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  gap: 16px;

  flex-wrap: wrap;
  /* padding-left: 62px; */
}

.desktop-pair-products-iphone {
  width: 22%;
  padding: 24px 16px;

  border-radius: 9px;
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.desktop-pair-products-iphone .heart {
  align-self: flex-end;
}
.desktop-pair-products-iphone .apple-iphone {
  height: 160px;
  width: 160px;
}
.desktop-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}
.desktop-text p {
  color: var(--Main-Black, #000);
  text-align: center;
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.desktop-text h3 {
  color: var(--Main-Black, #000);
  text-align: center;
  font-family: SF Pro Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 100% */
  letter-spacing: 0.72px;
}
.Iphone-btn {
  display: flex;
  padding: 12px 64px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--Main-Black, #000);
  color: var(--Main-White, #fff);
  text-align: center;
  font-family: SF Pro Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
}
/* Big-Banner */
.Big-Banner {
  display: flex;
  width: 100%;
  padding: 56px 0px;

  align-items: flex-end;
  gap: 32px;
  flex-wrap: wrap;
}
.Big-Banner-watch-products1 {
  display: flex;
  width: 20%;
  padding: 0px 32px 56px 32px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  flex: 1 0 0;
  background: var(--Main-White, #fff);
  position: relative;
}
.Big-Banner-watch-products1 img {
  height: 360px;
  width: 305px;
}

.Big-Banner-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 16px;
}
.Big-Banner-text h1 {
  color: #000;
  font-family: SF Pro Display;
  font-size: 33px;
  font-style: normal;
  font-weight: 300;
  line-height: 48px; /* 145.455% */
}
.Big-Banner-text p {
  color: #909090;
  font-family: SF Pro Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
}
.Big-Banner-text button {
  display: flex;
  padding: 16px 56px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  border: 1px solid var(--Main-Black, #000);
  color: var(--Main-Black, #000);
  text-align: center;
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  cursor: pointer;
}
.Big-Banner-watch-products2 {
  display: flex;
  width: 20%;
  padding: 0px 32px 56px 32px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  flex: 1 0 0;
  background: #f9f9f9;
}
.Big-Banner-watch-products2 img {
  height: 360px;
  width: 401px;
}
.Big-Banner-watch-products3 {
  display: flex;
  width: 20%;
  padding: 0px 32px 56px 32px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  flex: 1 0 0;
  background: #eaeaea;
}
.Big-Banner-watch-products3 img {
  height: 360px;
  width: 305px;
}

.Big-Banner-watch-products4 {
  display: flex;
  width: 20%;
  padding: 0px 32px 56px 32px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  flex: 1 0 0;
  background: #2c2c2c;
}
.Big-Banner-watch-products4 img {
  height: 360px;
  width: 305px;
}
.bottom-left2 {
  display: none;
}
.bottom-right2 {
  display: none;
}
.wide-squre-two {
  display: none;
}
.big-banner-img2 {
  display: none;
}
.image-64-2 {
  display: flex;
}
/* discount-products */
.discount-products {
  display: flex;
  width: 100%;
  padding: 80px 160px;
  flex-wrap: wrap;

  align-items: flex-start;
  gap: 32px;
  background: #fff;
}
.discount-products1 h4 {
  display: flex;
  width: 1440px;
  padding: 0px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

/* Banner2 */

.Banner2 {
  background: linear-gradient(100deg, #2e2e2e 42.36%, #000 98.65%);
  display: flex;
  width: 100%;

  justify-content: center;
  align-items: center;
  gap: 68px;
}
.Banner2-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.Banner2-text h1 {
  color: #fff;
  text-align: center;
  font-family: SF Pro Display;
  font-size: 72px;
  font-style: normal;
  font-weight: 200;
  line-height: 72px; /* 100% */
  letter-spacing: -0.72px;
}
.Banner2-text span {
  color: #fff;
  font-family: SF Pro Display;
  font-size: 72px;
  font-style: normal;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: -0.72px;
}
.Banner2-text p {
  color: #787878;
  text-align: center;
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}
.Banner2 .Group1 {
  padding-left: 0px;
}
.Banner2 .Group3 {
  padding-right: 0px;
}
.Group-81 {
  display: none;
}
.Group-82 {
  display: none;
}
.images {
  display: none;
}
.two-images {
  display: none;
}

/* desktop footer */
.desktop-footer {
  display: flex;
  width: 100%;
  padding: 104px 160px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  gap: 24px;
  background: var(--Main-Black, #000);
}
.footer-imgtext {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  text-align: center;
}
.desktop-footer-imgtext {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  row-gap: 113px;
  align-self: stretch;
  flex-wrap: wrap;
  /* padding-left: 160px; */
}
.desktop-footer-imgtext img {
  display: flex;
  width: 96px;
  height: 32px;
  padding: 0px 0.047px 3.72px 0px;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.desktop-footer-imgtext p {
  color: #cfcfcf;
  font-family: SF Pro Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 170.5%; /* 23.87px */
}
.Banner2-text button {
  display: flex;
  padding: 16px 56px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  border: 1px solid var(--Main-White, #fff);
  background: linear-gradient(100deg, #2e2e2e 42.36%, #000 98.65%);

  text-align: center;
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  cursor: pointer;
  color: var(--Main-White, #fff);
}
.footer-services {
  display: flex;
  width: 295.5px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
}
.footer-services h1 {
  color: var(--Main-White, #fff);
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 100% */
}
.footer-services li {
  color: #cfcfcf;
  font-family: SF Pro Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px; /* 228.571% */
  list-style: none;
  cursor: pointer;
}
.footer-assistant {
  display: flex;
  width: 295.5px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
}
.footer-assistant h1 {
  color: var(--Main-White, #fff);
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 100% */
}
.footer-assistant li {
  color: #cfcfcf;
  font-family: SF Pro Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px; /* 228.571% */
  list-style: none;
  cursor: pointer;
}
.desktop-footer-icon {
  display: flex;
  width: 173px;
  justify-content: space-between;
  align-items: center;
}
