* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
}
:root {
  --desktop-width: 1000px;
  --mobile-width: 500px;
}
.container {
  max-width: 100%;

  /* margin: 0 auto; */
  padding: 16px 160px;
}

.header-top {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  gap: 32px;
}
.header-top img {
  padding-left: 16px;
  cursor: pointer;
}
/* header logo */
.logo {
  display: flex;
  width: 96px;
  height: 32px;
  padding: 0px 0.047px 3.72px 0px;
  justify-content: center;
  align-items: center;
}
/* this is header search field */
.search-field {
  position: relative;
  border-radius: 8px;
  background: #f5f5f5;
  display: flex;

  align-items: center;
  gap: 8px;
  width: 423px;
}

.search-field input[type="text"] {
  padding: 16px;
  padding-left: 44px;

  background: #f5f5f5;
  border-radius: 8px;
  border: none;
  width: 100%;
  height: 100%;
}

.search-field input[type="text"]::placeholder {
  color: #656565;
  font-family: SF Pro Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  opacity: 0.5;
}

.search-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 16px;
}
/* navigation css */
.navigation {
  display: flex;

  align-items: flex-start;
  gap: 52px;
}

.nav-list-items {
  display: flex;
  gap: 52px;
}
.navigation li {
  list-style: none;
}
.navigation a {
  text-decoration: none;
}
.navigation li a {
  color: var(--Main-Black, #000);
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.3;
}
.navigation li.active a {
  opacity: 1;
}
/* navigation icon */
.navigation-icon {
  display: flex;
  border-radius: 4px;
}
.sidebarmenu {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  width: 0;
  transition: width 0.4s ease-in-out;
  flex-direction: column;

  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  /* transition: 0.5; */
}
.aliahmad a:hover {
  background-color: black;
  color: white;
}

.responsive-header {
  display: none;
}
.responsive-header img {
  cursor: pointer;
  padding-right: 98px;
}

.sidebar-header {
  width: 100%;
  height: 35vh;
  padding: 15px;
  position: fixed;
  top: 15px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-400px);
  /* right: 0; */
}
.sidebar-header-content img {
  height: 60px;
  width: 100px;
}
.active-sidebar {
  transform: translateY(0);
  transition: transform 0.4s ease-in-out;
}
.sidebar-links {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.crossBtn {
  position: absolute;
  top: 30px;
  right: 30px;
}
.crossBtn img {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.sidebarmenu-button {
  border-radius: 8px;
  background: var(--Main-Black, #000);
  padding: 9px 16px;
  color: var(--Main-White, #fff);

  text-align: center;
  font-family: SF Pro Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
}

.sidebarmenu a.active {
  opacity: 1;
  color: var(--Main-Black, #000);
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.sidebarmenu a {
  opacity: 0.3;
  color: var(--Main-Black, #9d9393);
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 15px;
  text-decoration: none;
  display: flex;
  /* flex-direction: column; */
  padding: 12px;
  align-items: center;
}
/*.sidebarmenu a:hover {
  background-color: aquamarine;
 } */
.sidebarmenu .closebtn {
  font-size: 52px;
  color: #fff;
  padding: 0px 8px;
}
#cart {
  position: absolute;
  top: 8px;

  right: 209px;
}
.logo-sidenav {
  display: flex;
  justify-content: space-between;
  padding: 0px 8px;
}
i {
  padding-right: 15px;
}
.subnav {
  background: var(--Secondary-Charcoal, #2e2e2e);

  display: flex;
  padding: 8px 160px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.subnav div {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 16px;

  color: var(--Main-White, #fff);
  text-align: center;
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 200% */
  opacity: 0.5;
  cursor: default;
}
.subnav-tags {
  display: flex;

  padding: 40px 160px;
  align-items: center;
  gap: 16px;
}
.subnav-navigation-tags {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-wrap: wrap;
}
.subnav-navigation-tags a {
  text-decoration: none;
  color: #a4a4a4;
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 100% */
}
.subnav-navigation-tags .active {
  color: #000;
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 100% */
}
.main-info {
  display: flex;
  width: 100%;
  padding: 112px 160px;
  align-items: center;
  gap: 48px;
}
.main-info-images {
  display: flex;

  align-items: center;
  gap: 48px;
  flex-shrink: 0;
  padding-top: 96px;
}
.main-info-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  width: 100%;
}
.main-info-text h1 {
  color: #000;
  font-family: SF Pro Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 100% */
}
.dollor {
  display: flex;
  gap: 16px;
  align-items: center;
}
.dollor-p1 {
  color: #000;
  font-family: SF Pro Display;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px; /* 150% */
  letter-spacing: 0.96px;
}
.dollor-p2 {
  color: #a0a0a0;
  font-family: SF Pro Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.72px;
  text-decoration-line: strikethrough;
  flex: 100;
}
.colors {
  display: flex;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}
.colors h1 {
  color: var(--Black, #0c0c0c);
  font-family: SF Pro Display;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
}
.Tab {
  display: flex;
  gap: 16px;
  align-items: center;
}
.Tab1 {
  color: #d5d5d5;
  text-align: center;
  font-family: SF Pro Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1px solid #d5d5d5;
}
.Tab2 {
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  color: #6f6f6f;
  text-align: center;
  font-family: SF Pro Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  border-radius: 8px;
  border: 1px solid #d5d5d5;
}
.Tab3 {
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  color: #6f6f6f;
  text-align: center;
  font-family: SF Pro Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  border-radius: 8px;
  border: 1px solid #d5d5d5;
}
.Tab4 {
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  color: var(--Main-Black, #000);

  text-align: center;
  font-family: SF Pro Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  border-radius: 8px;
  border: 1px solid var(--Main-Black, #000);
}
.Tab5 {
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  color: var(--Main-Black, #000);
  text-align: center;
  font-family: SF Pro Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
}
.detail {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 16px;
  align-self: stretch;
  flex-wrap: wrap;
}
.button {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 16px;
  align-self: stretch;
  flex-wrap: wrap;
}
.btn1 {
  display: flex;

  padding: 16px 56px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-transform: uppercase;

  background-color: white;
  color: var(--Main-Black, #000);
  text-align: center;
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  border-radius: 6px;
  border: 1px solid var(--Main-Black, #000);
  cursor: pointer;
}
.btn2 {
  display: flex;

  padding: 16px 56px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  color: var(--Main-White, #fff);
  background-color: #000;
  text-align: center;
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  border-radius: 6px;
  border: 1px solid var(--Main-Black, #000);
  cursor: pointer;
}
.btn2 a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.icon {
  display: flex;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}
.icon2 {
  display: flex;
  gap: 16px;
}
.icon2 h4 {
  color: #717171;
  font-family: SF Pro Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
}
.icon2 p {
  color: #000;
  font-family: SF Pro Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.guaranteed-1-year {
  display: flex;
  gap: 16px;
}
.content-details {
  display: flex;
  /* width: 1440px; */
  padding: 80px 160px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background: #fafafa;
}
.content-details-text {
  display: flex;
  padding: 48px 40px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;
  border-radius: 8px;
  background: #fff;
}
.content-details-text > h1 {
  color: #000;
  font-family: SF Pro Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  align-self: stretch;
}
.Line {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  gap: 24px;
  align-self: stretch;
}
.Line-cpu {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-self: stretch;
}
.Line-cpu > h1 {
  color: #000;
  font-family: SF Pro Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
}
.Line-cpu1 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-self: stretch;
}
.Line-btn {
  display: flex;
  padding: 12px 56px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #545454;
  /* 171.429% */
}
.Line-btn > h1 {
  color: var(--Main-Black, #000);
  text-align: center;
  font-family: SF Pro Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
}
.Reviews {
  display: flex;

  padding: 88px 160px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  border-radius: 24px;
}
.Reviews-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
  align-self: stretch;
}
.Reviews-text > h1 {
  color: #000;
  font-family: SF Pro Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
}
.Review-star {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 60px;
  align-self: stretch;
}
.rating {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  display: flex;
  border-radius: 25px;
  background: #fafafa;
  gap: 16px;
}
.rating > p {
  color: var(--Main-Black, #000);
  text-align: center;
  font-family: SF Pro Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px; /* 100% */
}
.rating > h4 {
  color: var(--Main-Black, #000);
  text-align: center;
  font-family: SF Pro Display;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 106.667% */
  opacity: 0.3;
}
.review-rating {
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}
.rating-reviews {
  display: flex;

  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}
excellent > div {
  display: flex;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}
.rating-text-field {
  display: flex;
  padding: 24px 16px;
  align-items: center;
  align-self: stretch;
  border-radius: 7px;
  border: 0.5px solid #cecece;
  background: #fff;
}
.rating-text-field > h1 {
  color: #979797;
  font-family: SF Pro Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
  letter-spacing: -0.07px;
}
.Grace-Carey-review {
  display: flex;
  padding: 24px 28px 24px 16px;
  align-items: flex-start;
  gap: 19px;
  align-self: stretch;
  border-radius: 10px;
  background: #fafafa;
}
.title-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.title-text > h1 {
  color: var(--Main-Black, #000);
  font-family: SF Pro Display;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 141.176% */
}
.title-text > p {
  color: #7e7e7e;
  font-family: SF Pro Display;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 160% */
}
.fader-review {
  display: flex;
  padding: 24px 28px 24px 16px;
  align-items: flex-start;
  gap: 19px;
  align-self: stretch;
  border-radius: 10px;
  background: linear-gradient(
    204deg,
    rgba(255, 255, 255, 0) 15.44%,
    #fff 84.39%
  );
  background-color: #fafafa;
}
.Line-btn1 {
  display: flex;
  padding: 12px 56px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: absolute;

  bottom: -3095px;
  border-radius: 8px;
  border: 1px solid #545454;
}
.Line-btn1 > h1 {
  color: var(--Main-Black, #000);
  text-align: center;
  font-family: SF Pro Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
}
.discount-Products {
  display: flex;

  padding: 80px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.discount-Products-img {
  display: flex;

  align-items: flex-start;
  align-content: flex-start;
  gap: 16px;
  flex: 1 0 0;
  flex-wrap: wrap;
}

.desktop-pair-products-iphone {
  display: flex;

  padding: 24px 16px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
  border-radius: 9px;
  background: #f6f6f6;
}
.desktop-pair-products-iphone .heart {
  align-self: flex-end;
}
.desktop-pair-products-iphone .apple-iphone {
  height: 160px;
  width: 160px;
}
.desktop-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}
.desktop-text p {
  color: var(--Main-Black, #000);
  text-align: center;
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.desktop-text h3 {
  color: var(--Main-Black, #000);
  text-align: center;
  font-family: SF Pro Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 100% */
  letter-spacing: 0.72px;
}
.Iphone-btn {
  display: flex;
  padding: 12px 64px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--Main-Black, #000);
  color: var(--Main-White, #fff);
  text-align: center;
  font-family: SF Pro Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
}
.discount-Products > h1 {
  color: #000;
  text-align: center;
  font-family: SF Pro Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
}
.desktop-footer {
  display: flex;
  width: 100%;
  padding: 104px 160px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  gap: 24px;
  background: var(--Main-Black, #000);
}
.footer-imgtext {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  text-align: center;
}
.desktop-footer-imgtext {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  row-gap: 113px;
  align-self: stretch;
  flex-wrap: wrap;
  /* padding-left: 160px; */
}
.desktop-footer-imgtext img {
  display: flex;
  /* width: 96px; */
  height: 32px;
  padding: 0px 0.047px 3.72px 0px;
  justify-content: center;
  align-items: center;
  background-color: white;
  cursor: pointer;
}
.desktop-footer-imgtext p {
  color: #cfcfcf;
  font-family: SF Pro Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 170.5%; /* 23.87px */
}
.footer-services {
  display: flex;
  /* width: 295.5px; */
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
}
.footer-services h1 {
  color: var(--Main-White, #fff);
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 100% */
}
.footer-services li {
  color: #cfcfcf;
  font-family: SF Pro Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px; /* 228.571% */
  list-style: none;
  cursor: pointer;
}
.footer-assistant {
  display: flex;
  width: 295.5px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
}
.footer-assistant h1 {
  color: var(--Main-White, #fff);
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 100% */
}
.footer-assistant li {
  color: #cfcfcf;
  font-family: SF Pro Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px; /* 228.571% */
  list-style: none;
  cursor: pointer;
}
.desktop-footer-icon {
  display: flex;
  width: 173px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.colorswatch input {
  visibility: hidden;
}

.colorswatch input:checked + label {
  border: 1px solid;
}
#red + label {
  width: 32px;
  width: 32px;
  height: 32px;
  display: inline-block;
  cursor: pointer;
  background-color: red; /* red color */
  border-radius: 50%; /* Create a circular shape */
  position: relative;
}
#yellow + label {
  width: 32px;
  height: 32px;
  display: inline-block;
  cursor: pointer;
  background-color: yellow; /* Yellow color */
  border-radius: 50%; /* Create a circular shape */
  position: relative;
}
#blue + label {
  width: 32px;
  height: 32px;
  display: inline-block;
  cursor: pointer;
  background-color: blue; /* Yellow color */
  border-radius: 50%; /* Create a circular shape */
  position: relative;
}
#white + label {
  width: 32px;
  height: 32px;
  display: inline-block;
  cursor: pointer;
  background-color: #f6f6f6; /* Yellow color */
  border-radius: 50%; /* Create a circular shape */
  position: relative;
}
#black + label {
  width: 32px;
  height: 32px;
  display: inline-block;
  cursor: pointer;
  background-color: black;
  border-radius: 50%; /* Create a circular shape */
  position: relative;
}
